{% extends 'includes/_base.html' %}
{% load static %}
{% block banner_area %}
	<section class="home_banner_area">
		<div class="container box_1620">
			<div class="banner_inner d-flex align-items-center">
				<div class="banner_content">
					<div class="media">
						<div class="d-flex">
							<img src="{{ home_banner_image.url }}" alt="">
						</div>
						<div class="media-body">
							<div class="personal_text">
								<h6>Hello Everybody, i am</h6>
								<h3>{{ home_banner_name }}</h3>
								<h4>{{ home_banner_title }}</h4>
								<p>{{ home_banner_description }}</p>
								<ul class="list basic_info">
									<li><a href="mailto:batuhang002@gmail.com"><i class="lnr lnr-envelope"></i>batuhang002@gmail.com</a></li>
								</ul>
								<ul class="list personal_social">
									{% for social in social_medias %}
										<li>
											<a href="{{ social.link }}" target="_blank">
												{{ social.icon | safe }}
											</a>
										</li>
									{% endfor %}	
								</ul>
							</div>
						</div>
					</div>   
				</div>
			</div>
		</div>
	</section> 
{% endblock %}

{% block content %}
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>{{ about_myself_welcome }}</p>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">

								{% for skill in skills %}
									<div class="skill_item">
										<h4>{{skill.name}} <span class="counter">{{skill.percentage}}</span>%</h4>
										<div class="progress_br">
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								{% endfor %}

								


							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
{% endblock  %}
		
        